.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

img {
    max-width: 780px;
}

.card {
    height: 450px;
    float: left;
    padding: 10px;
    margin: 20px;
}