<div class="container">
<h1 class="instruments">Add instruments</h1>

<form ng-submit ="vm.addInstrument(vm.instrumentToAdd)">
    <input type = "text" placeholder="Date" ng-model="vm.instrumentToAdd.ticket_date">
    <select ng-model="vm.instrumentToAdd.instrument">
        <option value="">---Please Select---</option>
        <option value="Banjo">Banjo</option>
        <option value="Bass">Bass</option>
        <option value="Cello">Cello</option>
        <option value="Guitar">Guitar</option>
        <option value="Guzheng">Guzheng</option>
        <option value="Harp">Harp</option>
        <option value="Koto">Koto</option>
        <option value="Lute">Lute</option>
        <option value="Lyre">Lyre</option>
        <option value="Mandolin">Mandolin</option>
        <option value="Sanshin">Sanshin</option>
        <option value="Ukulele">Ukulele</option>
        <option value="Viola">Viola</option>
        <option value="Violin">Violin</option>
        <option value="Zither">Zither</option>
    <input type = "text" placeholder="Model" ng-model="vm.instrumentToAdd.model">
    <input type = "text" placeholder="Description" ng-model="vm.instrumentToAdd.description">
    <input type = "text" placeholder="Issue" ng-model="vm.instrumentToAdd.issue">
    <input type = "text" placeholder="ID" ng-model="vm.instrumentToAdd.owner_id">
    <md-button type = "submit" class = "md-raised">Submit</md-button>
</select>

</form>


<div class="card" ng-repeat="instrument in vm.dash.instrument">
   
        <p>Name: {{instrument.name}}</p>
        <p>Date: {{instrument.ticket_date | date: 'MM-dd-yyyy'}}</p>
        <p>Instrument: {{instrument.instrument}}</p>
        <p>Model: {{instrument.model}}</p>
        <p>Description: {{instrument.description}}</p>
        <p>Issue: {{instrument.issue}}</p>
        <p>Owner_ID: {{instrument.owner_id}}</p>
        <button ng-click="vm.deleteInstrument(instrument.id)">Delete</button>
    </div>
</div>